@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.btn-custom{
     background-color:#13eac9;
     border: 1px solid green;
     border-radius:15px;
     margin-left:15px;
     font-size: 18px;
     font-weight: 500;
}
.btn-custom:hover{
     background-color:#57bef9;
}
.custom-shadow{
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
border: 1px solid rgba(255, 255, 255, 0.87);
}
input[type="text"]{
     background-color:#c5c1c1;
     width:30%;
     margin:0 auto;
     color:;
     text-align: center;
     font-weight:bolder;
}
#error,#errorFood ,#errorRent ,#errorCloth,#errorSave,#errorMuch{
     display:none;
     border: 1px solid red;
     border-radius: 15px;
     color:black;
}
label{
     width:30%;
     display:inline-block;
}